        body {
            background-color: #000000;
            background-image: url('https://ilw7imf.github.io/ILW7IMF-s-Cool-Site/Img/patterngallery.png');
            background-repeat: repeat;
            background-size: auto;
            color: #ff7f27;
        }