body {
    background-image: url('https://ilw7imf.github.io/ILW7IMF-s-Cool-Site/Img/patternmain.png');
    background-repeat: repeat;
    color: #FCFC00;
       }
	   a {
  color: #fcb000;
}

a:visited {
  color: #3c4eb5;
}

a:hover {
  color: red;
}

a:active {
  color: purple;
}
.scd {
    font-family: 'SCD';
    text-shadow: 2px 2px 0 #000000;
}

.chaotix {
    font-family: 'chaotixNova';
    text-shadow: 2px 2px 0 #000000;
}
.dr {
    font-family: 'DR';
    text-shadow: 2px 2px 0 #000000;
}